@import "primereact/resources/themes/lara-light-indigo/theme.css";     
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css"; 

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 2rem;
}
.p-datatable-sm {
  margin-top: 1rem;
}
.p-inputgroup {
  margin-bottom: 1rem;
}
